body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 10px auto;
  text-align: center;
}
h3 {
  font-size: 15px;
  font-weight: 300;
  margin: 10px auto;
  text-align: center;
}
form {
  display: inline;
}
footer {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  margin: 6px;
  text-align: center;
}
.app-wrapper {
  background: rgb(255, 255, 255);
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
}
#form-wrapper {
  margin-top: 10px;
  text-align: center;
}

#input-bar {
  background: rgb(242, 242, 241);
  padding: 5px;
  margin-right: 5px;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 30px;
}
#search-button,
#location-button {
  position: relative;
  top: 12px;
  padding: 0;
  width: 32px;
}

::placeholder {
  color: rgba(0, 0, 0, 0.8);
}
#temp-now {
  text-align: center;
}
#temp-digits,
#degree-sign {
  font-size: 65px;
  font-weight: 400;
  margin-right: -5px;
}

#temp-units {
  font-size: 28px;
  position: relative;
  bottom: 26px;
}
#temp-f,
#temp-c {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
#temp-f:hover,
#temp-c:hover {
  font-weight: 600;
}
/*styling active link*/
#temp-now .active {
  font-weight: 600;
}

#main-icon {
  display: block;
  margin: 0 auto;
  width: 30%;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.7));
}
#weather-desc {
  font-size: 35px;
  text-align: center;
}
#weather-specs-wrapper {
  margin: 10px auto;
  text-align: center;
}
.weather-specs {
  font-size: 15px;
  color: rgba(0, 0, 0, 1);
}
.footer-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
}
.footer-link:hover {
  text-decoration: underline;
}
